[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-pymongo = "*"
dnspython = "*"
requests = "*"

[dev-packages]
pytest = "*"
"pep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
