.LoginContainer {
	z-index: 6;
	background-color: white;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 50%;
	height: 50%;
	display: flex;
	border-radius: 4px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
}

.LoginContainer button {
	background-color: dodgerblue;
	color: white;
	font-size: 16px;
	border-radius: 4px;
	padding: 4px 8px;
	min-width: 150px;
	border: none;
	margin: 4px 4px 8px 4px;
	box-shadow: 0 4px rgb(0, 89, 179);
}
.LoginContainer button:hover {
	background-color: rgb(77, 166, 255);
	transform: translateY(1px);
	box-shadow: 0 3px rgb(0, 89, 179);
}
.LoginContainer button:active {
	background-color: rgb(77, 166, 255);
	transform: translateY(4px);
	box-shadow: 0 0px rgb(0, 89, 179);
}
.LoginContainer input{
	border-radius: 4px;
	border: 1px solid lightgray;
	padding: 4px 8px;
	display: inline-block;
	margin: 4px;
}
.LoginContainer textarea{
	border-radius: 4px;
	border: 1px solid lightgray;
	padding: 4px 8px;
	margin: 4px;
	height: 50%;
	resize: none;
}