.Sidebar-button {
	position: fixed;
	width: 50px;
	height: 50px;
	top: 5px;
	right: 5px;
	border-radius: 50px;
	background-color: #FF0000;
	
	text-align: center;
	line-height: 50px;
	font-size: 40px;
	color: #FFFFFF;
	
	cursor: pointer;
}